html, body {
	margin: 0;
	height: 100%;
    padding: 0%;
}
body {
    counter-reset: brojac;
    background-color: cornflowerblue;
}
#odabirVjezbe{
    box-sizing: border-box;
	border: 1px solid black;
    float: left;
    width: 33%;
    height: fit-content;
    display: grid;
    padding: 10px;
}
#odabirVjezbe h2{
    margin: 0%;
    padding: 0%;
    text-align: center;
}
#odabirVjezbe h2::after {
    counter-increment: brojac;
    content: "" counter(brojac);
}
#listaVjezbi{
	height: fit-content;
    display: grid;
}
.vjezba{
    background-color: gray;
	border: 1px solid black;
    height: fit-content;
    /*padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px; */
}
.zadaci{
    background-color: rgb(19, 70, 180);
    width: 100%;
    border: 1px solid black;
    align-items: center;
}
.zadaci li{
    display: inline;
    border: 1px solid black;
    background-color: burlywood;
}
#meni {
	box-sizing: border-box;
	border: 1px solid black;
	margin: 0;
	height: 35%
}
#meni_list li {
	display: block;
	align-items: center;
    justify-content: center;
    text-align: center;
}

#meni_list ul {
	margin: 0;
	padding: 0;
}

#meni_list{
  height: 30%;
}

#meni_content {
	height: 70%;
	display: flex;
    align-items: center;
    justify-content: center;
	margin: 0;
}
#grafovi{
    box-sizing: border-box;
	border: 1px solid black;
    float: right;
    width: 66%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.graf{
    border: 1px solid black;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 799px) {
    #meni_list li {
        display:inline;
        padding-left: 15px;
      }
      #meni {
          box-sizing: border-box;
          border: 1px solid black;
          margin: 0;
          height: 10%
      } 
    #odabirVjezbe{
        width: 100%;
    }
    #grafovi{
        box-sizing: border-box;
        border: 1px solid black;
        float: right;
        width: 100%;
        height: fit-content;
        display: list-item;     
    }

}